<%= stylesheet_link_tag "contentmanager","video-js" %>
<%= form_for(@content.becomes(Content),:html => { :multipart => true }, :remote => true ) do |f| %>
<div id="addsubcontent" class="hide" ><%= render 'addsubcontent' %></div>
 
<h2><a href="/contents">Go Back</a></h2>
<h1>Add Your Content</h1>
    <div class="maincontent">
      
      <div class="left">
        <%= f.label :type, 'Type' %>
        <%= f.hidden_field :id, :value => @content.id %>
        <select id="content_type" name="content[type]">
          <option <%= (@content.instance_of? Video) ? 'selected="selected"': "" %> value="Video">Video</option>
          <option <%= (@content.instance_of? BinaryFile) ? 'selected="selected"': "" %> value="BinaryFile">File</option>
          <option <%= (@content.instance_of? Image) ? 'selected="selected"': "" %> value="Image">Image</option>
        </select>
        <p>
          <%= f.label :title, 'Title' %>
          <%= f.text_field :title%>
        </p>
        <div style="display: inline; border: solid 1px #7FAAFF; background-color: #C5D9FF; padding: 2px;">
          <span id="spanButtonPlaceholder"></span>
        </div>
        <div class="buttons">
          <a id="upload" class="upload">Upload Main Content</a>
        </div>
        <a class="addsubcontent" href="#">Add sub-content</a>
        <ul class="subcontents">
          
        </ul>
        
      </div>
      <div class="right">
        <p>File Status: <%= @content.status %> </p>
        
        <% if @content.status == Content::STATUS_COMPLETE.to_s && @content.type == "Video" %>
          <%= render "shared/videobox" %>
        <% end %>
        <% if @content.status == Content::STATUS_COMPLETE.to_s && @content.type == "Image" %>
          <img src="<%= Content::S3_WEB + @content.small   %>" />
        <% end %>
      </div>

    </div>
    <div class="clear"></div>
    <%= f.submit 'Save' %> <a class="reprocess" href="#">re-process</a>
    <div id="divFileProgressContainer" class="progressContainer" ><div class="progress"></div></div>

<% end %>

<% content_for(:javascript) do %>
<%= javascript_include_tag 'swfupload','upload','contentmanager', 'video' %>

<script type="text/javascript">
  var swfparams;
  var swfu;
  $(function()
  {
    var contents_path = "<%= contents_path %>";
    initContentmanager(contents_path);
  })
  $(document).ready(function() {
  swfparams = {
    post_params :
    {
      "<%= key = Rails.application.config.session_options[:key] %>" : "<%= cookies[key] %>",
      "<%= request_forgery_protection_token %>" : "<%= form_authenticity_token %>",
      "id" : $("#content_id").val()
      },
      upload_url : "<%= contents_path %>/upload"
    };
    loadSwfUpload();
    VideoJS.setupAllWhenReady();

  });
</script>
<% end %>