<%= stylesheet_link_tag "contentmanager","video-js","jquery-ui" %>
<%= javascript_include_tag 'backface'%>
<%= form_for(@content.becomes(Content),:html => { :multipart => true }, :remote => true ) do |f| %>
<noscript><p>File uploads require Javascript to be enabled.</p></noscript>
<p>Status: <span class="filestatus"><%= @content.status %></span></p>
<div class="progressbar">
  <div class="total">&nbsp;</div>
</div>
<br/>
<div class="maincontent">

  <div class="title"><%= f.text_field :title%></div>
  <div class="tagline"><%= f.text_field :tagline%></div>
  <div class="left">
    <div id="maincontent">Set Content</div>

    <%= render :partial => "shared/contentbox", :locals => {:content => @content} %>

    <div class="references">
      <h4>References</h4>
      <form id="referencesform" action="#" method="post">
        <input type="text" name="tb_addurl" id="tb_addurl" /><button name="bt_addurl" id="bt_addurl" >Add</button>
        <ul class="clear" id="referenceslist"></ul>
      </form>
    </div>

    <div class="publishtime hide">
    <h3>Publishing</h3>
      <%= f.label :publish, 'Publish on:' %>
    <%= f.text_field :publish, :value => @content.publish , :class => 'datepicker'%>
    <%= f.label :expire, 'Expires on:' %>
    <%= f.text_field :expire, :value => @content.expire, :class => 'datepicker'%>
    </div>

  </div>
  <div class="right">
    <%= f.hidden_field :id, :value => @content.id %>
    <%= f.hidden_field :type, :value =>@content.type %>
    <div id="subcontent" href="#">Add Subcontent</div>
    <ul id="subcontentslist" class="subcontents">
    </ul>
  </div>
</div>
<div class="clear"></div>
<%= f.submit 'Save' %> <a class="reprocess" href="#">re-process</a>
<% end %>

<% content_for(:javascript) do %>
<%= javascript_include_tag 'upload','contentmanager', 'video' ,'swfobject/swfobject' %>
<script type="text/javascript">
  var uploadparams = {
      "<%= key = Rails.application.config.session_options[:key] %>" : "<%= cookies[key] %>",
      "<%= request_forgery_protection_token %>" : "<%= form_authenticity_token %>",
      "id" : "<%=@content.id%>" };
  $(function() { initContentmanager("<%= contents_path %>");});
</script>
<% end %>