<%= form_for(@content.becomes(Content),:html => { :multipart => true }, :remote => true ) do |f| %>
<h2><a href="/contents">Go Back</a></h2>
<h1>Add Your Content</h1>

  <%= f.label :type, 'Type' %>
<select  id="content_type" name="content[type]">
  <option panel="file" value="Image">Image</option>
  <option panel="file" value="Video">Video</option>
  <option panel="file" value="BinaryFile">File</option>
  <option panel="url" value="Url">URL</option>
</select>
<ul class="filetypes">
  <li class="file active">
    <p>
      <%= f.label :title, 'Title' %>
      <%= f.text_field :title%>
    </p>
      <div style="display: inline; border: solid 1px #7FAAFF; background-color: #C5D9FF; padding: 2px;">
        <span id="spanButtonPlaceholder"></span>
      </div>
      <div class="buttons">
        <a id="upload" class="upload">Upload</a>
      </div>
      <div id="divFileProgressContainer" class="progressContainer" ><div class="progress"></div></div>
  </li>
  <li class="url hide">
    <p>
      <%= f.label :title, 'Title' %>
      <%= f.text_field :title%>
    </p>
    <p>
      <%= f.label :value, 'Url' %>
      <%= f.text_field :value%>
    </p>
  </li>
</ul>
<div class="actions">
  <%= f.submit 'Save' %>
</div>

<% end %>

<% content_for(:javascript) do %>
<%= javascript_include_tag 'swfupload','upload','contentmanager' %>
<script type="text/javascript">
$(function()
{
  initContentmanager();
})
//swfupload
var swfparams = {
    post_params : {
                  "<%= key = Rails.application.config.session_options[:key] %>" : "<%= cookies[key] %>",
                  "<%= request_forgery_protection_token %>"    : "<%= form_authenticity_token %>"
                  },
    upload_url : "<%= contents_path %>/<%= @content.id %>"
};
var swfu;
$(document).ready(function() { loadSwfUpload();});

</script>


<% end %>