<%= form_for(@content,:html => { :multipart => true }, :remote => true ) do |f| %>


  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title%>
  </p>
  <p>
    <%= f.label :value, 'File' %>
    <%= f.file_field :value %>
  </p>

  <div class="actions">
    <%= f.submit 'Upload' %>
  </div>
<% end %>
