hello

<div class="photo">

  <br class="clearer" />

<div style="display: inline; border: solid 1px #7FAAFF; background-color: #C5D9FF; padding: 2px;">
			<span id="spanButtonPlaceholder"></span>
</div>

<div class="buttons">
<button id="upload" class="upload">Upload</button>
</div>
	<div id="divFileProgressContainer" class="progressContainer" ><div class="progress"></div></div>

<% content_for(:javascript) do %>
  <%= javascript_include_tag 'swfupload' %>
  <%= javascript_include_tag 'upload' %>
  <script type="text/javascript">
    var swfu;

    // Dom Ready
    $(document).ready(function() {
    // Setup SWFU object
    var settings = {
    upload_url: "<%= contents_path %>/foo/23",
    flash_url: "/flash/swfupload.swf",


  // Backend Settings
    file_post_name    : "Filedata",
    post_params: {
                    "<%= key = Rails.application.config.session_options[:key] %>" : "<%= cookies[key] %>",
                    "<%= request_forgery_protection_token %>"    : "<%= form_authenticity_token %>"
    },

    file_size_limit: "<%= 300.megabytes %>",
    file_types: "*.jpg;*.mov;",
    file_types_description: "Files",

    file_queued_handler: Upload.file_queued,
    file_dialog_complete_handler: Upload.file_dialog_complete,
    upload_start_handler: Upload.upload_start,
    upload_progress_handler: Upload.upload_progress,
    upload_error_handler: Upload.upload_error,
    upload_success_handler: Upload.upload_success,
    upload_complete_handler: Upload.upload_complete,

// Set to true to find out why things aren't working
    debug: false,

    // Button Settings
    button_image_url : "images/SmallSpyGlassWithTransperancy_17x18.png",
    button_placeholder_id : "spanButtonPlaceholder",
    button_width: 180,
    button_height: 18,
    button_text : '<span class="button">Select Images <span class="buttonSmall">300 MB MAX</span></span>',
    button_text_style : '.button { font-family: Helvetica, Arial, sans-serif; font-size: 12pt; } .buttonSmall { font-size: 10pt; }',
    button_text_top_padding: 0,
    button_text_left_padding: 18,
    button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
    button_cursor: SWFUpload.CURSOR.HAND,

    custom_settings : {
            upload_target : "divFileProgressContainer"
    }
    };

    swfu = new SWFUpload(settings);

    // Disable Upload Button
    $('#upload').addClass('disabled').attr('disabled', 'true');

    // Add Event Handlers
    $('#browse').click(function() { swfu.selectFiles(); });
    $('#upload').click(function() { swfu.startUpload(); });
    });
  </script>
<% end %>
</div>