<%= javascript_include_tag "preview-models","preview-views",'swfobject/swfobject'%>
<%= stylesheet_link_tag "preview","video-js" %>
<div class="mainsec" id="contentview">
</div>
<div class="sidesec">
  <div class="box">
    <div id="coursedesc"></div>
    <ul id="courselist" class="courselist active listbox"></ul>
  </div>
</div>
<div class="popup hide" id="purchasebox"></div>
<div class="popup hide" id="loginbox"></div> 
<% content_for(:javascript) do %>
<script type="text/template" id="coursedesc-template"><%= render :partial => "shared/coursedesc" %></script>
<script type="text/template" id="loginbox-template"><%= render :partial => "shared/loginbox" %></script>
<script type="text/template" id="loginstatus-template"><%= render :partial => "shared/loginstatus" %></script>
<script type="text/template" id="buynow-template"><%= render :partial => "shared/buynow" %></script>
<script type="text/template" id="purchasebox-template"><%= render :partial => "shared/purchasebox" %></script>
<script type="text/template" id="courseitem-template"><%= render :partial => "shared/preview_courseitem" %></script>
<script type="text/template" id="contentview-template"><%= render :partial => "shared/preview_contentview" %></script>
<script type="text/javascript">
    $(function() { 
      window.app = new AppView({basepath: "<%= courses_path %>/../p/",
                                purchasepath: "<%= url_for :controller => 'purchasing', :action => 'checkout' %>",
                                course: new Course(<%= raw  @course.as_jsonpreview(current_user).to_json %>),
                                courseid:<%= @course.id %>,
                                regurl: '<%= url_for :controller => 'users', :action => 'register' %>',
                                loginurl: '<%= url_for :controller => 'users', :action => 'login' %>',
                                user: new User(<%= raw user_for_embed %>)
                               });
    });
</script>
<% end %>
  <div class="clear" ></div>  