Welcome Administrator 


<h3>Payments</h3>
<%= render :partial => "users/shared/purchases", :locals => {:list => Payment.find(:all) }%>

<%= form_for(Payment.new) do |f| %>
  <fieldset>
  <legend>New Purchase</legend>
    <%= f.select :user_id, Customer.find(:all).map { |c| [c.email,c.id]}, %>
    <%= f.select :purchaseable_id, grouped_options_for_select({"CourseItem" => CourseItem.find(:all).map { |ci| [ci.content.title,ci.id]},"Course" => Course.find(:all).map { |c| [c.title,c.id]} }) %>
    <%= f.label :amount %>
    <%= f.text_field :amount %>
    <%= f.hidden_field :purchaseable_type, :value => "CourseItem" %>
    <%= f.submit  %>
  </fieldset>
<% end  %>

<script>
  $(function()
  {
      $("#payment_purchaseable_id").change(function()
      {
        $("#payment_purchaseable_type").val($("#payment_purchaseable_id option:selected").parents('optgroup').attr('label'));
      });
  });
  
</script>