Welcome Administrator 


<h3>Payments</h3>
<%= render :partial => "users/shared/purchases", :locals => {:list => Payment.find(:all) }%>

<%= form_for(Payment.new) do |f| %>
  <fieldset>
  <legend>New Purchase</legend>
    <%= f.select :user_id, Customer.find(:all).map { |c| [c.email,c.id]}, %>
    <%= f.select :purchaseable_id, Content.find(:all).map { |c| [c.title,c.id]}, %>
    <%= f.label :amount %>
    <%= f.text_field :amount %>
    <%= f.hidden_field :purchaseable_type, :value => "Content" %>
    <%= f.submit  %>
  </fieldset>
<% end  %>