<%= javascript_include_tag 'coursemanager', 'templates'%>
<%= stylesheet_link_tag "coursemanager" %>
<%= render 'users/usernav' %>
<h2>Course Manager</h2>
<p>Build courses that will inspire folks</p>
<div class="landscape">
  <div id="courses" class="panel">
    <div class="top">
      <h3>Courses</h3>
      <button id="newcourse">New Course</button>
      <div class="newcourse popup hide">
        <label for="newcourse_title">Title</label>
        <input id="newcourse_title" class="title" name="newcourse_title" type="text" ></input>
        <button id="newcourse_create">Create</button>
        <button id="newcourse_cancel" class="cancel">Cancel</button>
      </div>
    </div>
    <div class="body">
      <dl>
      </dl>
    </div>
  </div>
  <div id="contents" class="panel" >
    <div class="top">
      <button id="preview" class="hide">Preview</button>
      <button id="newcontent" class="hide">Add Content</button>
      <div class="newcontent popup hide">
        <ul></ul>
      </div>
    </div>
    <div class="body">
      <ul>
      </ul>
    </div>
  </div>
  <div id="content_details" class="panel">
    <div class="top">
      <h3>Details</h3>
    </div>
    <div class="body">

    </div>
  </div>
  <div class="clear"></div>
</div>
<% content_for(:javascript) do %>
  <script type="text/javascript">
    sec =
      {"<%= key = Rails.application.config.session_options[:key] %>" : "<%= cookies[key] %>",
      "<%= request_forgery_protection_token %>" : "<%= form_authenticity_token %>"}

    $(function() { initCoursemanager("<%= courses_path %>");});
  </script>
<% end %>