<!DOCTYPE html>
<html>
<head>
  <title>Jetty</title>
  <%= stylesheet_link_tag "site", "jquery-ui-1.8.12.custom.css" %>

  <%= javascript_include_tag "jquery-1.5.1.js",
                             "jquery-ui-1.8.11.custom.min.js",
                             "application" %>
  <%= yield :javascript %>
  <%= yield :stylesheet %>
  <%= csrf_meta_tag %>
</head>
<body class="embed">
  <div id="flash">
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
  </div>
  <div class="container">
    <div class="loginstatus">
    <% unless user_signed_in? -%>
    <p><%= link_to 'welcome, guest', new_user_registration_path %> | <%= link_to 'Login', new_user_session_path %>
    </p>
    <% end -%>
    <% if user_signed_in? -%>
      Welcome, <%=  current_user.email %> | 
      <%= link_to "logout", destroy_user_session_path %>
    <% end -%>
    </div>
    <%= yield %>
    <div class="clear" ></div>
  </div>
</body>
</html>
